<header>
    <div class="menu">
      <div class="logo">

        <a href="{{ '/' | prepend: site.baseurl }}">{{ site.blog.title }}</a>
        <object type="image/svg+xml" data="{{ site.blog.logo_path | relative_url }}" class="logosvg">does not support svg ima</object>
      </div>

        <ul>
            <li><a href="{{ '/j' | prepend: site.baseurl }}">J</a></li>
            <li><a href="{{ '/arc' | prepend: site.baseurl }}">arc</a></li>
            <li><a href="{{ '/music' | prepend: site.baseurl }}">music</a></li>
        </ul>
    </div>
    <div class="horizontal image"
    <object type="image/svg+xml" data="{{ site.blog.logo_path}}" relative_url }}" class="logosvg"></object>
      <span class="icon-neutral"></span>
    </div>
    <div class="social">
      <ul>
        {% if site.author.vimeo %}
        <li>
            <a href="https://vimeo.com/{{ site.author.vimeo }}" target="_blank" class="smaller">
              <span class="icon-vimeo"></span>
            </a>
        </li>
        {% endif %}
        {% if site.author.soundcloud %}
        <li>
            <a href="https://soundcloud.com/{{ site.author.soundcloud }}" target="_blank" class="smaller">
              <span class="icon-soundcloud"></span>
            </a>
        </li>
        {% endif %}
        {% if site.author.stackoverflow %}
        <li>
            <a href="https://stackoverflow.com/{{ site.author.stackoverflow }}" target="_blank" class="smaller">
              <span class="icon-stack"></span>
            </a>
        </li>
        {% endif %}
        {% if site.author.twitter %}
        <li>
            <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" class="smaller">
              <span class="icon-twitter"></span>
            </a>
        </li>
        {% endif %}
        {% if site.author.github %}
        <li>
            <a href="https://github.com/{{ site.author.github }}" target="_blank" class="smaller">
              <span class="icon-git"></span>
            </a>
        </li>
        {% endif %}
        {% if site.author.gitlab %}
        <li>
            <a href="https://gitlab.com/{{ site.author.gitlab }}" target="_blank" class="smaller">
              <span class="icon-gl"></span>
            </a>
        </li>
        {% endif %}
        {% if site.author.mail %}
        <li>
            <a href="mailto:{{ site.author.mail }}" target="_blank">
              <span class="icon-mail"></span>
            </a>
        </li>
        {% endif %}
        {% if site.author.rss == true %}
        <li>
            <a href="{{ '/feed.xml' | prepend: site.baseurl }}" target="_blank">
                <span class="icon-rss"></span>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="#" onclick="switchTheme()" title="Switch theme?">
              <span class="icon-invert_colors" id="theme-switcher"></span>
            </a>
        </li>
      </ul>
    </div>
</header>
