<header>
    <div class="menu">
      <div class="logo">

        <a href="{{ '/' | prepend: site.baseurl }}">{{ site.blog.title }}</a>
        <object type="image/svg+xml" data="{{ site.blog.logo_path | relative_url }}" class="logosvg">Your browser does not support svg images</object>
      </div>

      <ul>
        <li><a href="{{ '/jmzx' | prepend: site.baseurl }}">about</a></li>
        <li><a href="{{ '/arc.' | prepend: site.baseurl }}">archive</a></li>
      </ul>
    </div>

    <div class="social">
      <ul>
        {% if site.author.vimeo %}
        <li>
            <a href="https://vimeo.com/{{ site.author.youtube }}" target="_blank" class="smaller">
              <span class="icon-vimeo"></span>
            </a>
        </li>
        {% endif %}
        {% if site.author.stackoverflow %}
        <li>
            <a href="https://stackoverflow.com/{{ site.author.stackoverflow }}" target="_blank" class="smaller">
              <span class="icon-hipster"></span>
            </a>
        </li>
        {% endif %}
        {% if site.author.twitter %}
        <li>
            <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" class="smaller">
              <span class="icon-wonder"></span>
            </a>
        </li>
        {% endif %}
        {% if site.author.github %}
        <li>
            <a href="https://github.com/{{ site.author.github }}" target="_blank" class="smaller">
              <span class="icon-neutral"></span>
            </a>
        </li>
        {% endif %}
        {% if site.author.mail %}
        <li>
            <a href="mailto:{{ site.author.mail }}" target="_blank">
              <span class="icon-smile"></span>
            </a>
        </li>
        {% endif %}
        {% if site.author.rss == true %}
        <li>
            <a href="{{ '/feed.xml' | prepend: site.baseurl }}" target="_blank">
                <span class="icon-confused"></span>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="#" onclick="switchTheme()" title="Switch theme?">
              <span class="icon-invert_colors" id="theme-switcher"></span>
            </a>
        </li>
      </ul>
    </div>
</header>
